.Sidebar {
  width: 7rem;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  box-shadow: 3px 10px 10px rgb(0, 0, 0);
}

.Sidebar__MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Sidebar button {
  font-size: 2rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-out;
}

.Sidebar button:hover {
  transform: scale(1.15);
}

.--active {
  border-radius: 5rem;
  background-image: linear-gradient(rgb(230, 135, 18), rgb(232, 43, 43));
}

.Sidebar__AddBtn {
  background-image: linear-gradient(rgb(0, 149, 255), rgb(27, 121, 179));
  border-radius: 0.5rem;
}
